[Desktop Entry]
Name=rqt GUI
Comment=A Qt-based framework for GUI development for ROS
Exec=/usr/bin/env python3 /opt/ros/jazzy/lib/rqt_gui/rqt_gui
Icon=/opt/ros/jazzy/share/rqt_gui/resource/rqt.png
Type=Application
Keywords=ROS;Development;rqt;
Categories=Development;Robotics;
StartupWMClass=rqt_gui
